/* 
    Document   : services
    Created on : Nov 15, 2013, 8:30:14 AM
    Author     : Home
    Description: services page updates
*/
.company_users_img {
    margin-right:2%;border-radius:50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;
}